html{
	height: 100%;
}
body{
	background-image:url(../img/background.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 98%;
    height: 100%; 
	font-family:Tahoma, Geneva, sans-serif;
}
textarea{
	padding: 5px;
	box-sizing: border-box;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	border: none;
    outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background-color:rgba(0,0,0,0.3);
	border-radius:5px;
	resize: none;
}
table{
	padding-top:20px;
	color:white;
}
nav {
  margin: auto;
  text-align: center;
  width: 100%;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
  width: 150px;
}

nav ul {
  background: #53bd84;
  padding: 0 20px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: #666;
}

nav ul li:hover a {
  color: #fff;
}

nav ul li a {
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: none;
}

nav ul ul {
  background: #53bd84;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

nav ul ul li {
  float: none;
  border-top: 1px soild #53bd84;
  border-bottom: 1px solid #53bd84;
  position: relative;
}

nav ul ul li a {
  padding: 15px 40px;
  color: #fff;
}

nav ul ul li a:hover {
  background-color: #666;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

td{
	padding-top:10px;
}
h1{
	text-align: center;
	color: white;
}
input {
    padding:5px; 
    border:0px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background-color:rgba(0,0,0,0.3);
	font-family:Tahoma, Geneva, sans-serif;
	color:white;
	width: 191px;
}
select {
	border:0px solid #ccc; 
    -webkit-border-radius: 5px;
	background-color:rgba(0,0,0,0.3);
	width: 150px;
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
}
.copyright{
	padding-top:84px;
	font-size:12px;
	color:rgba(0,0,51,0.9);
	margin:0 auto;
}
.kotak{
	width:600px;
	background-color:rgba(0,0,0,0.3);
	margin:0 auto;
	padding-bottom:10px;
	border-radius:10px;
}
.kotaks{
  width:1000px;
  background-color:rgba(0,0,0,0.3);
  margin:0 auto;
  padding-bottom:10px;
  border-radius:10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
